/* GENERAL CSS */
* {
    margin: 0;
    padding: 0;
    font-family: arial;  
}

/* START BODY CSS */
.main {
    height: 100vh;
    background-image: url('./image/background-empty-corridor-brick-walls-260nw-1160056747.jpg');
    background-size: cover;
    background-position: center;
}
.title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
@media(max-width: 767px) {
    .title {
        padding-top: 40px;
    }
}
.title img {
    width: 10%;
}
.h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
@media(max-width: 767px) {
.h1 {
        font-size: 30px;
    }
}
/* END BODY CSS */

/* START CARD CSS */
.card {
    padding: 10px;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-image: linear-gradient( rgba(9, 61, 204, 0.552), rgba(223, 25, 117, 0.552));
    border-radius: 30px;
}
.Links {
    color: #fff;
    padding:20px;
    font-size: 30px;
}
@media(max-width: 767px) {
    .Links {
        font-size: 17px;
    }
}
.text {
    width: 90%;
    height: 5vh;
    padding:1%;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
    box-shadow: inset 8px 8px 8px #858589, inset -8px -8px 8px #fff;
    background-color: #d6d6d6;
    
}
.text::placeholder{
    font-weight: bold;
}
.div {
    display: flex;
    justify-content: space-evenly;
}
.select {
    width: 30%;
    margin-top: 25px;
    height: 4vh;
    background-color: rgba(105, 48, 180, 0.552);
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 8px rgba(30, 15, 48, 0.552), -5px -5px 8px rgba(188, 149, 239, 0.552);
}
.select:hover {
    width: 25%;
    background-color: rgba(205, 3, 134, 0.47);
    box-shadow: 8px 8px 8px rgba(63, 5, 43, 0.47), -8px -8px 8px rgba(233, 152, 204, 0.47);
}
.submit {
    width: 30%;
    height: 4vh;
    margin-top: 25px;
    padding: 1%;
    background-color:rgba(105, 48, 180, 0.552);
    border: none;
    font-weight: bold;
    color: #fff;
    border-radius:10px;
    box-shadow: 5px 5px 8px rgba(30, 15, 48, 0.552), -5px -5px 8px rgba(188, 149, 239, 0.552);
}
.submit:hover {
    width: 25%;
    background-color: rgba(205, 3, 134, 0.47);
    box-shadow: 8px 8px 8px rgba(63, 5, 43, 0.47), -8px -8px 8px rgba(233, 152, 204, 0.47);
}
.download {
    width: 50%;
    height: 7vh;
    margin-top: 25px;
    border-radius: 15px;
    border: none;
    background-color: rgba(205, 3, 134, 0.47);
    box-shadow: 8px 8px 8px rgba(63, 5, 43, 0.47), -8px -8px 8px rgba(233, 152, 204, 0.47);
}
.download:hover {
    width: 25%;
    background-color: rgba(105, 48, 180, 0.552);
    box-shadow: 5px 5px 8px rgba(30, 15, 48, 0.552), -5px -5px 8px rgba(188, 149, 239, 0.552);
}

/* START LOGO CSS */
.card .image {
    position: absolute;
    bottom: 1%;
}
.card img {
    width: 60px;
    border-radius: 50px;
}
/* END LOGO CSS */

/* END CARD CSS */